-- Example 0
I HATE rats, and you?

i h8 r@s & U
-- Example 1
What is the weather like today?

wh@ is the we@her like today
-- Example 2
It is not too late to..

it is not too l8 to
-- Example 3
this text is already in sms language

this text is already in sms language
-- Example 4
i hate rats, and you?

i h8 r@s & U
